In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
weather_df = pd.read_excel("6-weather.xlsx")

In [5]:
weather_df

   Istanbul  New York  Amsterdam  Paris
0        20        10         15     12
1        21        10         17     14
2        20        13         18     15
3        22        14         19     18
4        25        15         15     20
5        28        13         22     16
6        15        12         15     15
7        20        15         14     14
8        22        16         16     16